<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Keto Bit - Carb counting for Fitbit</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">

        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li role="presentation">
              <%= if is_bitstring(@current_user) do %>
                <a href="/auth/logout">Sign out</a>
              <% end %>
            </li>
            <li role=presentation>
              <a href="https://twitter.com/keto_bit">@keto_bit</a>
            </li>
          </ul>
        </nav>

        <h3 class="text-muted">Keto Bit</h3>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <div role="main">
        <%= render @view_module, @view_template, assigns %>
      </div>

      <footer class="footer">
        <p>
          &copy; 2016 <a href="http://weblaws.org/robb/about">Robb Shecter</a> |
          <a href="https://github.com/dogweather/ketobit">GitHub</a> |
          <a href="https://github.com/dogweather/ketobit/blob/master/License.md">MIT License</a>
        </p>
      </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
