<div>user_id: <%= @current_user %></div>

<div class="jumbotron">
  <h2>Gain Total Control of<br>Your Carbs.</h2>
  <p>Designed for use with the FITBIT® platform</p>
  <a href="/auth"><h2>Sign in with Fitbit</h2></a>
</div>


<section class=fineprint> Fitbit is a registered trademark and service mark of
Fitbit, Inc. Ketobit is designed for use with the Fitbit platform. This product
is not put out by Fitbit, and Fitbit does not service or warrant the
functionality of this product.</section>
